.subjectCard {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
  border: 1px solid #e5eaf0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(22, 119, 255, 0.05);
  transition: all 0.3s ease;
}

.subjectCard:hover {
  box-shadow: 0 4px 12px rgba(13, 139, 76, 0.592);
}

.subjectCard__title {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.ant-card-head-title{
  background-color: #f2fbf6;
  padding: 5px 10px;
}

.subjectCard__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6px 0;
  font-size: 14px;
  color: #444;
}

.subjectCard__note {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.subjectCard__note label {
  font-size: 13px;
  color: #666;
}

.subjectCard__note textarea {
  flex: 1 1 100px;
  max-width: 220px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background: #f2fbf6;
  transition: all 0.2s ease;
}

.subjectCard__note textarea:focus {
  background-color:#f2fbf6;
  box-shadow: 0 0 4px rgba(158, 248, 186, 0.25);
}


@media(max-width:650px){
.subjectCard {
  padding: 10px;
}
.subjectCard__title {
  font-size: 16px;
  word-break: break-word;    
  white-space: normal;   
}
.ant-card-body{
  padding: 5px !important;
}
  .subjectCard__info p{
    margin: 3px;
  }
}


