.subjects-page{
    padding: 20px;
}

.subjects{
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.ant-btn{
  background-color: rgb(193, 241, 214);
  color: #000;
}